<div class="box mt-2">
  <div class="box-header md:justify-between flex-wrap">
    <div class="box-title">Balance</div>
  </div>
  <div class="box-body !p-0">
    <ul class="border-0">
      @for (balance of balances; track $index) {
      <li
        class="py-[0.8rem] px-[1.25rem] border-b dark:border-defaultborder/10"
      >
        <div class="flex w-full justify-between items-center">
          <span class="tx-14 mb-0 font-normal text-dark">{{
            balance.currency
          }}</span>
          <span class="tx-14 mb-0 font-normal text-dark">{{
            balance.balance + balance.blockedBalance | number
          }}</span>
        </div>
      </li>
      }
    </ul>
  </div>
</div>
