<div class="box">
  <div class="box-header md:justify-between flex-wrap">
    <div class="box-title">Analyzing entry point</div>
  </div>
  <div class="box-body !p-0">
    <ul class="border-0">
      @for (entryPoint of entryPointLogs(); track $index) {
      <li
        class="py-[0.8rem] px-[1.25rem] border-b dark:border-defaultborder/10"
      >
        <a href="javascript:void(0);" class="flex-column items-start">
          <div class="flex w-full justify-between items-center">
            <div class="tx-14 mb-0 font-normal text-dark flex-row">
              {{ entryPoint.symbol }}

              <p class="tx-14 mb-0 font-normal text-dark">
                @if (entryPoint.areAllCandlesPositive) {
                <span class="badge bg-success/10 text-success !pl-0"
                  >Ready to trade</span
                >
                } @else {
                <span class="badge bg-danger/10 text-danger !pl-0"
                  >Not ready to trade</span
                >
                }
              </p>
            </div>

            <div class="text-success mb-0 font-normal tx-13">
              @if (entryPoint.intervalPercentagePriceVariation >= 0) {

              <span class="text-success"
                >+{{
                  entryPoint.intervalPercentagePriceVariation
                    | number : "1.0-2"
                }}% <i class="ti ti-arrow-big-up-lines ms-1"></i
              ></span>

              } @else {

              <span class="text-danger"
                >{{
                  entryPoint.intervalPercentagePriceVariation
                    | number : "1.0-2"
                }}% <i class="ti ti-arrow-big-down-lines ms-1"></i
              ></span>

              }
            </div>

            <div class="flex">
              <a
                aria-label="button"
                type="button"
                class="ti-btn ti-btn-icon ti-btn-light me-[0.365rem]"
                [routerLink]="[
                  '/candles-chart',
                  { symbol: entryPoint.symbol, interval: candleInterval() }
                ]"
              >
                <i
                  class="ti ti-chart-candle font-normal text-dark opacity-[0.7]"
                ></i>
              </a>
            </div>
          </div>
        </a>
      </li>
      }
    </ul>
  </div>
</div>
