<div class="grid grid-cols-12 gap-x-6 mt-6">
  <div class="xxl:col-span-4 xl:col-span-4 col-span-12">
    <app-open-position (newOpenPosition)="onNewOpenPosition($event)" *ngIf="!currentPosition()" />
    <app-current-position
      [currentPosition]="currentPosition()!"
      [orderBook]="orderBook()"
      [feePercentage]="feePercentage() || 0"
      (closePosition)="onClosePosition($event)"
      *ngIf="currentPosition()" />

    <app-list-positions [positions]="positions()" />
  </div>
</div>
