<div class="grid grid-cols-12 gap-x-6 mt-6">
  <div class="xxl:col-span-4 xl:col-span-4 col-span-12">
    <div class="box">
      <div class="box-header">
        <div class="box-title">Bot settings</div>
      </div>
      <div class="box-body">
        <form [formGroup]="settingsForm">
          <div class="grid grid-cols-12 mb-4">
            <label
              for="cycleInterval"
              class="sm:col-span-2 col-span-12 col-form-label col-form-label-sm"
              >Cycle interval (milliseconds)</label
            >
            <div class="sm:col-span-10 col-span-12">
              <input
                type="number"
                class="form-control form-control-sm"
                id="cycleInterval"
                placeholder="Cycle interval"
                formControlName="cycleInterval"
              />
            </div>
          </div>

          <button
            class="ti-btn ti-btn-primary-full !mb-0"
            type="submit"
            (click)="saveBotSettings()"
          >
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
