<div class="grid grid-cols-12 gap-x-6 mt-6">
  <div class="xxl:col-span-4 xl:col-span-4 col-span-12">
    <div class="box">
      <div class="box-header">
        <div class="box-title">Strategy settings</div>
      </div>
      <div class="box-body">
        <form [formGroup]="settingsForm">
          <div class="grid grid-cols-12 mb-4">
            <label
              for="candleInterval"
              class="sm:col-span-2 col-span-12 col-form-label col-form-label-sm"
              >Candle interval (1, 5, 15, 30, 60, 240, 1D)</label
            >
            <div class="sm:col-span-10 col-span-12">
              <input
                type="number"
                class="form-control form-control-sm"
                id="candleInterval"
                placeholder="Candle interval"
                formControlName="candleInterval"
              />
            </div>
          </div>

          <div class="grid grid-cols-12 mb-4">
            <label
              for="numberOfCandles"
              class="sm:col-span-2 col-span-12 col-form-label col-form-label-sm"
              >Number of candles</label
            >
            <div class="sm:col-span-10 col-span-12">
              <input
                type="number"
                class="form-control form-control-sm"
                id="numberOfCandles"
                placeholder="Number of candles"
                formControlName="numberOfCandles"
              />
            </div>
          </div>

          <div class="grid grid-cols-12 mb-4">
            <label
              for="stopLossPercentage"
              class="sm:col-span-2 col-span-12 col-form-label col-form-label-sm"
              >% Stop Loss</label
            >
            <div class="sm:col-span-10 col-span-12">
              <input
                type="number"
                class="form-control form-control-sm"
                id="stopLossPercentage"
                placeholder="% Stop Loss"
                formControlName="stopLossPercentage"
              />
            </div>
          </div>

          <button
            class="ti-btn ti-btn-primary-full !mb-0"
            type="submit"
            (click)="saveStrategySettings()"
          >
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
