<div class="box">
  <div class="box-header">
    <div class="box-title">Current position detail</div>
  </div>
  <div class="box-body">
    <div>
      <div>
        <div class="text-[.875rem] py-2">
          <span class="font-semibold text-dark">Symbol:</span
          ><span
            class="text-[#8c9097] dark:text-white/50 ms-2 text-[.875rem] inline-block"
            >{{ currentPosition()?.symbol }}</span
          >

          <a
            aria-label="button"
            type="button"
            class="ti-btn ti-btn-icon ti-btn-light ltr:float-right rtl:float-left"
            [routerLink]="[
              '/candles-chart',
              { symbol: currentPosition()?.symbol, interval: candleInterval() }
            ]"
          >
            <i
              class="ti ti-chart-candle font-normal text-dark opacity-[0.7]"
            ></i>
          </a>
        </div>

        <div class="text-[.875rem] py-2">
          <span class="font-semibold text-dark">Entry date:</span
          ><span
            class="text-[#8c9097] dark:text-white/50 ms-2 text-[.875rem] inline-block"
            >{{
              currentPosition()?.entryDatetime
                | date : "MMM dd, yyyy 'at' HH:mm"
            }}</span
          >
        </div>

        <div class="text-[.875rem] py-2">
          <span class="font-semibold text-dark">Position amount:</span
          ><span
            class="text-[#8c9097] dark:text-white/50 ms-2 text-[.875rem] inline-block"
            >{{
              currentPosition()?.positionBaseAmount | number : "1.0-10"
            }}</span
          ><span
            class="text-dark font-semibold ltr:float-right rtl:float-left"
            >{{ currentPosition()?.symbol | currencyBySymbol : "base" }}</span
          >
        </div>

        <div class="text-[.875rem] py-2">
          <span class="font-semibold text-dark">Entry price:</span
          ><span
            class="text-[#8c9097] dark:text-white/50 ms-2 text-[.875rem] inline-block"
            >{{ currentPosition()?.entryPrice | number : "1.0-10" }}</span
          ><span
            class="text-dark font-semibold ltr:float-right rtl:float-left"
            >{{ currentPosition()?.symbol | currencyBySymbol : "quote" }}</span
          >
        </div>

        <div class="text-[.875rem] py-2">
          <span class="font-semibold text-dark">Entry cost:</span
          ><span
            class="text-[#8c9097] dark:text-white/50 ms-2 text-[.875rem] inline-block"
            >{{ currentPosition()?.entryQuoteAmount | number : "1.0-10" }}</span
          ><span
            class="text-dark font-semibold ltr:float-right rtl:float-left"
            >{{ currentPosition()?.symbol | currencyBySymbol : "quote" }}</span
          >
        </div>

        <div class="text-[.875rem] py-2">
          <span class="font-semibold text-dark">Exit price:</span
          ><span
            class="text-[#8c9097] dark:text-white/50 ms-2 text-[.875rem] inline-block"
            >{{ currentPosition()?.exitPrice | number : "1.0-10" }}</span
          ><span
            class="text-dark font-semibold ltr:float-right rtl:float-left"
            >{{ currentPosition()?.symbol | currencyBySymbol : "quote" }}</span
          >
        </div>

        <div class="text-[.875rem] py-2">
          <span class="font-semibold text-dark">Current price:</span
          ><span
            class="text-[#8c9097] dark:text-white/50 ms-2 text-[.875rem] inline-block"
            >{{ currentTicker()?.close | number : "1.0-10" }}</span
          ><span
            class="text-dark font-semibold ltr:float-right rtl:float-left"
            >{{ currentTicker()?.symbol | currencyBySymbol : "quote" }}</span
          >
        </div>

        <div class="grid mt-6">
          <button
            type="button"
            class="ti-btn ti-btn-danger-full label-ti-btn"
            (click)="closePosition()"
            [disabled]="isClosingCurrentPosition"
            [ngClass]="{ 'ti-btn-disabled': isClosingCurrentPosition }"
          >
            <i class="ri-close-line label-ti-btn-icon me-2"></i>
            <span class="me-2">Close position</span>
            @if(isClosingCurrentPosition) {
            <span class="loading"
              ><i class="ri-refresh-line text-[1rem] animate-spin"></i
            ></span>
            }
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
