<div class="grid grid-cols-12 gap-x-6 mt-6">
  <div class="xxl:col-span-4 xl:col-span-4 col-span-12">
    <app-bot-status
      [botStatus]="botStatus()!"
      [manualMode]="!!manualMode()"
      (botStatusChanged)="onBotStatusChanged($event)"
      (manualModeChanged)="onManualModeChanged($event)"
    />

    @if (currentPosition()) {
    <app-current-position-summary [currentPosition]="currentPosition()" />

    <app-current-position-detail
      [currentPosition]="currentPosition()"
      (closeCurrentPosition)="onCloseCurrentPosition()"
    />
    } @if (botStatus() === BotStatus.On) {
    <app-entry-point-logs
      [entryPointLogs]="entryPointLogs()"
      [candleInterval]="strategySettings()?.candleInterval?.toString()"
      [allowCreateManualPosition]="allowCreateManualPosition()"
      (openPosition)="onOpenPosition($event)"
    />
    }
  </div>
</div>
