<div class="grid grid-cols-12 gap-x-6 mt-6">
  <div class="xxl:col-span-4 xl:col-span-4 col-span-12">
    <div class="box">
      <div class="box-header">
        <div class="box-title">Markets</div>
      </div>
      <div class="box-body">
        <div class="input-group mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Market Code"
            [(ngModel)]="marketCode"
          />
          <button
            class="ti-btn ti-btn-primary-full !mb-0"
            type="button"
            (click)="addMarket()"
          >
            Add Market
          </button>
        </div>

        <ul class="list-group">
          @for (market of markets(); track $index) {

          <li class="list-group-item !py-2">
            <div class="flex">
              <div class="flex flex-grow items-center">
                <div>
                  <span
                    class="block font-normal text-[#8c9097] dark:text-white/50 mb-0"
                    >{{ market.code }}</span
                  >

                  <div class="custom-toggle-switch toggle-sm ms-2">
                    <input
                      id="size-sm"
                      name="toggleswitchsize"
                      type="checkbox"
                      [checked]="market.enabled"
                      disabled
                    />
                    <label for="size-sm" class="label-success"></label>
                  </div>
                </div>
              </div>
              <div class="text-end">
                <a
                  aria-label="anchor"
                  href="javascript:void(0);"
                  class="ti-btn ti-btn-wave !rounded-full !border-danger/10 !gap-0 !m-0 !h-[1.75rem] !w-[1.75rem] text-[0.8rem] bg-danger/10 text-danger hover:bg-danger hover:text-white hover:border-danger"
                  (click)="deleteMarket(market.code)"
                  ><i class="ri-delete-bin-line"></i
                ></a>
              </div>
            </div>
          </li>

          }
        </ul>
      </div>
    </div>
  </div>
</div>
