<div class="box mt-6">
  <div class="box-header justify-between flex-wrap">
    <div class="box-title">Price Chart ({{ symbol() }})</div>
  </div>
  <div class="box-body !p-0">
    <div class="flex justify-center p-4" role="group">
      <button
        type="button"
        class="ti-btn-group !border-0 !text-xs !py-2 !px-3 ti-btn-primary text-white"
        (click)="loadCandles(symbol(), '1')"
      >
        1m
      </button>
      <button
        type="button"
        class="ti-btn-group !border-0 !text-xs !py-2 !px-3 ti-btn-primary"
        (click)="loadCandles(symbol(), '5')"
      >
        5m
      </button>
      <button
        type="button"
        class="ti-btn-group !border-0 !text-xs !py-2 !px-3 ti-btn-primary"
        (click)="loadCandles(symbol(), '15')"
      >
        15m
      </button>
      <button
        type="button"
        class="ti-btn-group !border-0 !text-xs !py-2 !px-3 ti-btn-primary"
        (click)="loadCandles(symbol(), '30')"
      >
        30m
      </button>
      <button
        type="button"
        class="ti-btn-group !border-0 !text-xs !py-2 !px-3 ti-btn-primary"
        (click)="loadCandles(symbol(), '60')"
      >
        1h
      </button>
    </div>

    <div id="crypto" class="p-4" class="chart-container">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [title]="chartOptions.title"
        [tooltip]="chartOptions.tooltip"
        [plotOptions]="chartOptions.plotOptions"
      ></apx-chart>
    </div>
  </div>
</div>
